<% provide :title, 'Sign In' %>

<div class="span4 offset4">
  <%= form_tag controller: :sessions, action: :create do %>
    <%= label_tag :email %>
    <%= email_field_tag :email, '' , autofocus: true %><br />
    
    <%= label_tag :password %>
    <%= password_field_tag :password %><br />
    
    <%= submit_tag "Sign In", class: "btn btn-primary" %>
  <% end %>
</div>