<div class="span12">
  <% if user_signed_in? %>
    <% @user = current_user %>
    <div id="user_status" class="span3">
      <h3><%= link_to @user.name, @user %></h3>
      <%= link_to gravatar_for(@user, 160), @user %>
      <%= render 'shared/follow_status', user: @user %>
      <div><%= render 'shared/entry_form' %></div>
    </div>
    <div class="span8">
      <%= render 'shared/entry' %>
    </div>
  <% else %>
    <div class="center hero-unit">
      <h1>Welcome to Demo app</h1><br />
      <h3>You can browse and view all entries all you want or<br />
        <%= link_to "Sign Up now!", signup_path, class: "btn btn-primary btn-large" %> to leave comments
        on the entry that you like. (^_^)
      </h3>
    </div>
  <% end %>
</div>