<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>
    <div id="main">
      <div id="notification">
        <% flash.each do |key,value| %>
          <%= content_tag :p, value, class: "alert alert-#{key}" %>
        <% end %>
      </div>
      <%= yield %>
      <div style="clear: both;"></div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
